.animationBar {
    height: 200px;
    width: 100vw;
    background-color: #2A2139;
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    box-sizing: border-box;
    padding: .5rem;

}


.animationBar > .actionBar > button {
    background-color: #77688E;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background-image: url("../assets/Play\ Icon.png");
    background-position: 14px ;
    background-size: 25.25px 28.7px ;
    background-repeat: no-repeat;
    height:50px ;
    width: 50px;
}

/* Used For creating a Frame & Displaying the amount of frames */
.frameBar {
    background-color: #77688E;
    border-radius: 15px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: .5rem;
    gap: .5rem;


    /* For overflow in framebar */
    box-sizing: border-box;
    overflow-x: auto;
    scrollbar-width: thin;
}


/* Used for changing the color of button on click */
.actionBar > button:active {
    background-color: #2A2139;
}



.frame {
    height: 80px;

    /* Used to disable number highlighting within a div */
    user-select: none;
   



    min-width: 81.838px;
    border: 5px solid #2A2139;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.frame:hover {
    cursor: pointer;
}

#plus {
    display:flex;
    justify-content: center;
    align-items: center;

    background-image: url("../assets/Add.png");
    background-repeat: no-repeat;
    background-position: center;
}

#plus:hover {
    cursor: pointer;
}

#plus:active {
    background-color: #2A2139;
}